@import 'theme.scss';


.about-page-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.about-card {
  min-height: 200px;
  max-width: 500px;
  margin: 30px;
  overflow: auto;
  align-self: center;
}

.image {
  max-width: 600px;
  align-self: center;
  margin-bottom: 30px;
}
