@import 'theme.scss';


.about-page-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.about-card {
  min-height: 150px;
  max-width: 570px;
  margin: 30px;
  overflow: auto;
  align-self: center;

  mat-card-header > .mat-card-header-text {
    margin: 0 16px 0 0;
  }
}

.image {
  max-width: 400px;
  align-self: center;
  margin-bottom: 30px;
  width: 100%;
}

@media only screen and (max-width: 599px) {

  .about-card {
    margin: 10px;
  }
}
