@import 'theme.scss';


.about-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .about-container {
    width: 100%;
    background-color: $gal-light-gray;
    display: flex;
    justify-content: center;

    .about-text-container {
      min-height: 150px;
      max-width: 570px;
      margin: 30px;

      .about-title {
        margin-bottom: 2px;
      }

      .about-subheading {
        color: $gal-gray;
        margin-top: 0;
      }
    }
  }

  .about-image {
    max-width: 400px;
    align-self: center;
    margin: 30px 0;
    width: 100%;
  }
}

@media only screen and (max-width: 599px) {

  .about-text-container {
    margin: 10px;
  }
}
