<div class="about-page-container">

  <div class="about-container">
    <div class="about-text-container">
      <div>
        <h1 class="mat-title about-title">Kate Alice Mann</h1>
        <p class="mat-body-1 about-subheading">Artist based in Leeds</p>
      </div>
      <div>
        <p class="mat-body-1">
          Kate’s work embraces the idiosyncratic female figure in a descriptive environment through colour and symbolism. She is interested in exploring the relationship between not only the model and their environment but the viewer and the subject. She aims to capture the sitter in an expressive painting style whilst remaining truthful to the individual.
        </p>
      </div>
    </div>
  </div>

  <img class="about-image"
       src="assets/about-page-image.jpg"
       alt="Photo of Kate in her artist's studio" />
</div>
