<div class="about-page-container">
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>Kate Alice Mann</mat-card-title>
      <mat-card-subtitle class="mat-body-1">Art student at Leeds University</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-body-1">
        Kate’s work embraces the idiosyncratic female figure in a descriptive environment through colour and symbolism. She is interested in exploring the relationship between not only the model and their environment but the viewer and the subject. She aims to capture the sitter in an expressive painting style whilst remaining truthful to the individual.
      </p>
    </mat-card-content>
  </mat-card>

  <img class="image"
       src="https://picsum.photos/300/500"
       alt="Photo of Kate's studio" />
</div>
