mat-toolbar {
  width: 100%;
  height: 100%;
  justify-content: space-between;

  .footer-text-container {
    display: flex;

    .footer-text {
      color: gray;
      margin: 0;
    }

    .attribution {
      margin-right: auto;
      padding-left: 10px;
    }

    .copyright {
      padding-right: 10px;
    }

    .separator {
      font-size: 32px;
      font-family: '"Montserrat", sans-serif';
    }
  }

  @media only screen and (max-width: 550px) {

    .footer-text-container {
      flex-direction: column;

      .footer-text {
        font-size: 8pt;
        padding: 0;
        margin: 0;
        text-align: center;
      }

      .attribution {
        margin-top: -2px;
      }

      .copyright {
        margin-bottom: -2px;
      }

      .separator {
        display: none;
      }
    }
  }

  gal-fb-share-link {
    padding-bottom: 4px;
    margin-right: 10px;
  }
}
