@import 'theme.scss';


.contact-form-fields-container {
  display: flex;
  flex-direction: column;
}

.contact-form-card {
  min-width: 200px;
  max-width: 500px;
  flex: 1;
  margin: 30px;
  overflow: auto;
}

.contact-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.submit-button, .spinner {
  float: right;
}

.header-icon-container {
  margin-top: 3px;
  color: $gal-black;
}

mat-form-field {
  margin-top: 5px;
  margin-bottom: 5px;
}

mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}
