<div class="contact-page-container">
  <mat-card class="contact-form-card">

    <mat-card-header>
      <div mat-card-avatar class="header-icon-container">
        <mat-icon class="large-icon">message</mat-icon>
      </div>
      <mat-card-title>CONTACT</mat-card-title>
      <mat-card-subtitle>Send Kate a message</mat-card-subtitle>
    </mat-card-header>

    <form #form="ngForm"
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit(form)">

      <mat-card-content>
        <div class="contact-form-fields-container">

          <mat-form-field color="accent" hideRequiredMarker>
            <input matInput
                   type="text"
                   formControlName="name"
                   placeholder="Name"
                   required />
            <button mat-button
                    *ngIf="contactForm.controls.name.value"
                    matSuffix
                    mat-icon-button
                    matTooltip="Clear field"
                    aria-label="Clear field"
                    tabindex="-1"
                    (click)="contactForm.controls.name.reset('')"
                    [disabled]="isLoading">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="contactForm.controls.name.errors?.required">
              Please enter your name
            </mat-error>
            <mat-error *ngIf="contactForm.controls.name.errors?.maxlength">
              Name cannot be longer than {{ maxFieldLengths.name }} characters
            </mat-error>
          </mat-form-field>

          <mat-form-field color="accent" hideRequiredMarker>
            <input matInput
                  formControlName="email"
                  type="email"
                  placeholder="Email address"
                  required />
            <button mat-button
                    *ngIf="contactForm.controls.email.value"
                    matSuffix
                    mat-icon-button
                    matTooltip="Clear field"
                    aria-label="Clear field"
                    tabindex="-1"
                    (click)="contactForm.controls.email.reset('')"
                    [disabled]="isLoading">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="contactForm.controls.email.errors?.required">
              Please enter your email address
            </mat-error>
            <mat-error *ngIf="!contactForm.controls.email.errors?.required && contactForm.controls.email.errors?.email">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <mat-form-field color="accent" hideRequiredMarker>
            <input matInput
                   type="text"
                   formControlName="subject"
                   placeholder="Subject"
                   required />
            <button mat-button
                    *ngIf="contactForm.controls.subject.value"
                    matSuffix
                    mat-icon-button
                    matTooltip="Clear field"
                    aria-label="Clear field"
                    tabindex="-1"
                    (click)="contactForm.controls.subject.reset('')"
                    [disabled]="isLoading">
             <mat-icon>close</mat-icon>
           </button>
            <mat-error *ngIf="contactForm.controls.subject.errors?.required">
              Please enter a subject
            </mat-error>
            <mat-error *ngIf="contactForm.controls.subject.errors?.maxlength">
              Subject cannot be longer than {{ maxFieldLengths.subject }} characters
            </mat-error>
          </mat-form-field>

          <mat-form-field color="accent" hideRequiredMarker>
            <textarea matInput
                      type="text"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="6"
                      formControlName="body"
                      placeholder="Message"
                      required>
            </textarea>
            <button mat-button
                    *ngIf="contactForm.controls.body.value"
                    matSuffix
                    mat-icon-button
                    matTooltip="Clear field"
                    aria-label="Clear field"
                    tabindex="-1"
                    (click)="contactForm.controls.body.reset('')"
                    [disabled]="isLoading">
              <mat-icon>close</mat-icon>
            </button>
            <mat-hint align="end">
              {{ contactForm.controls.body.value?.length || 0 }}/{{ maxFieldLengths.body }}
            </mat-hint>
            <mat-error *ngIf="contactForm.controls.body.errors?.required">
              Please enter a message
            </mat-error>
            <mat-error *ngIf="contactForm.controls.body.errors?.maxlength">
              Message cannot be longer than {{ maxFieldLengths.body }} characters
            </mat-error>
          </mat-form-field>

        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button
                matTooltip="Send message"
                aria-label="Send message"
                color="accent"
                type="submit"
                class="submit-button"
                [disabled]="isLoading || !contactForm.valid">
          <mat-icon *ngIf="!isLoading; else loadingIcon">
            send
          </mat-icon>
        </button>

      </mat-card-actions>

    </form>

  </mat-card>
</div>

<ng-template #loadingIcon>
  <img *ngIf="isLoading; else sendButton"
        matTooltip="Loading…"
        class="spinner"
        src="assets/spinner.svg"
        aria-label="loading animation" />
</ng-template>
