@import 'theme.scss';


.contact-form-fields-container {
  display: flex;
  flex-direction: column;
}

.contact-form-card {
  flex: 1;
  overflow: auto;
  background-color: $gal-white;
}

.contact-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit-button, .spinner {
  float: right;
}

.header-icon-container {
  margin-top: 3px;
  color: $gal-black;
}

mat-form-field {
  margin-top: 5px;
  margin-bottom: 5px;
}

mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

@media only screen and (max-width: 599px), (max-height: 500px) {

  .contact-form-card {
    border-radius: 0;
    margin: 0;
  }
}

@media only screen and (min-width: 599px) and (min-height: 500px) {

  .contact-form-card {
      margin: 30px;
      max-width: 500px;
  }
}
