@import '~@angular/material/theming';
@import 'theme.scss';


.nav-click {

  position: absolute;
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;

  mat-icon {
    color: $gal-white;
    font-size: 60px;
    display: flex;
    align-items: center;
  }

  :hover {
    color: mat-color($gal-accent);
  }

  &.prev-button {
    left: 2%;
  }

  &.next-button {
    right: 2%;
  }

  &.close-button {
    top: 2%;
    right: 2%;

    mat-icon {
      font-size: 40px;
      margin: 0;
      padding: 10px;
      width: 67%;
      height: 67%;
      justify-content: center;
    }

    :hover {
      color: mat-color($gal-warn);
    }
  }
}

@media only screen and (max-width: 699px) {

  .nav-click {
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;

    mat-icon {
      font-size: 32px;
    }

    &.close-button {

      mat-icon {
        justify-content: center;
      }
    }

    // &.prev-button {
    //   left: 5px;
    // }

    // &.next-button {
    //   right: 5px;
    // }
  }
}

.image-caption-text {
  text-align: center;

  // Fade-in animation
  opacity: 0;
  animation: fade-in 2s ease-in forwards;
  -webkit-animation: fade-in 2s ease-in forwards;
}

#gallery-image-title {
  margin: 16px 0 0 0;

  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#gallery-image-year {
  margin: 4px 0 16px 0;

  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.gallery-image {
  object-fit: scale-down;
  max-width: calc(100% + 1px);  // Fix for blank edge strip of pixels
  max-height: 85vh;
}

.loading-container {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 20%;
    margin: 0 auto;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
