@import '~@angular/material/theming';
@import 'theme.scss';


.nav-click {

  position: absolute;
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;

  mat-icon {
    color: $gal-white;
    font-size: 60px;
    display: flex;
    align-items: center;
  }

  :hover {
    color: mat-color($gal-accent);
  }

  &.prev-button {
    left: 2%;
  }

  &.next-button {
    right: 2%;
  }

  &.close-button {
    top: 0%;
    right: 2%;

    mat-icon {
      font-size: 40px;
      margin: 0;
      padding: 20px;
      width: 67%;
      height: 67%;
      justify-content: center;
    }

    :hover {
      color: mat-color($gal-warn);
    }
  }
}

@media only screen and (max-width: 699px) {

  .nav-click {
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;

    mat-icon {
      font-size: 32px;
    }

    &.close-button {

      top: 0%;
      right: 0%;
      margin-right: 32px;
    }
  }
}

.image-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .image-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.image-caption-text {
  text-align: center;

  // Fade-in animation
  opacity: 0;
  animation: fade-in 0.5s ease-in forwards;
  -webkit-animation: fade-in 0.5s ease-in forwards;
  -moz-animation: fade-in 0.5s ease-in forwards;
  -o-animation: fade-in 0.5s ease-in forwards;
  -ms-animation: fade-in 0.5s ease-in forwards;
}

#gallery-image-title {
  margin: 16px 0 0 0;

  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
}

#gallery-image-year {
  font-size: 9pt;
  margin: 4px 0 16px 0;
  color: $gal-gray;

  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
}

.gallery-image {
  object-fit: scale-down;
  max-width: calc(100% + 1px);  // Fix for blank edge strip of pixels
  max-height: 85vh;
}

.loading-container {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 20%;
    margin: 0 auto;
  }
}
