@import '~@angular/material/theming';
@import 'theme.scss';


.dialog-content {
  text-align: center;  // Centers the image if it isn't wide enough to meet the minumum dialog width
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.nav-click {

  position: absolute;
  bottom: calc(50% - 30px);
  width: 60px;
  height: 60px;
  margin: 5px;

  mat-icon {
    color: $gal-white;
    font-size: 60px;
  }

  :hover {
    color: mat-color($gal-accent);
  }

  &.prev-button {
    left: calc(2vw - 15px);
  }

  &.next-button {
    right: calc(2vw - 15px);
  }

  &.close-button {
    position: absolute;
    top: 0;
    right: 0;

    mat-icon {
      font-size: 40px;
      margin: 0;
      padding: 0;
    }

    :hover {
      color: mat-color($gal-warn);
    }
  }
}

@media only screen and (max-width: 699px) {

  .nav-click {

    &.prev-button, &.next-button {

      width: 40px;
      height: 40px;

      bottom: 2vw;

      mat-icon {
        font-size: 40px;
      }
    }

    &.close-button {

      width: 32px;
      height: 32px;

      right: 0;
      top: 2vw;

      mat-icon {
        font-size: 32px;
      }
    }

    &.prev-button {
      left: 0;
    }

    &.next-button {
      right: 0;
    }
  }
}

.image-details-container {
  max-height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .image-caption {

    max-width: 100%;

    .image-caption-text {
      text-align: center;

      // Fade-in animation
      opacity: 0;
      animation: fade-in 0.5s ease-in forwards;
      -webkit-animation: fade-in 0.5s ease-in forwards;
      -moz-animation: fade-in 0.5s ease-in forwards;
      -o-animation: fade-in 0.5s ease-in forwards;
      -ms-animation: fade-in 0.5s ease-in forwards;
    }
  }

  .image-actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    // Fade-in animation
    opacity: 0;
    animation: fade-in 0.5s ease-in forwards;
    -webkit-animation: fade-in 0.5s ease-in forwards;
    -moz-animation: fade-in 0.5s ease-in forwards;
    -o-animation: fade-in 0.5s ease-in forwards;
    -ms-animation: fade-in 0.5s ease-in forwards;

    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
  }

  #image-actions-left {
    margin-right: auto;
    margin-left: 10%;
  }

  #image-actions-right {
    margin-left: auto;
    margin-right: 10%;
  }
}

// @media only screen and (max-width: 599px) {  // Shifts the actions to the bottom on small screens

//   .image-caption {

//     flex: 0 0 100%;
//     order: 1;
//   }

//   .image-actions {
//     order: 2;
//   }
// }

#gallery-image-title {
  margin: 8px 0 0 0;

  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
}

#gallery-image-year {
  font-size: 9pt;
  margin: 4px 0 8px 0;
  color: $gal-gray;

  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
}

.gallery-image {
  object-fit: scale-down;
  max-width: calc(100% + 1px);  // Fix for blank edge strip of pixels
  max-height: 60vh;
}

.loading-container {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 20%;
    margin: 0 auto;
  }
}

.share-menu-container {
  display: flex;
  flex-direction: column;

  .icon-link {
    text-decoration: none;
    color: inherit;
    display: flex;

    .icon-link-container {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
    }

    .media-logo {
      height: 32px;
      margin: 15px;

      // Grow-on-hover transition
      transition: transform .2s ease-out;
      -webkit-transition:  -webkit-transform .2s ease-out;
      -moz-transition: -moz-transform .2s ease-out;
      -o-transition: -o-transform .2s ease-out;
      -ms-transition: -ms-transform .2s ease-out;
    }

    p {
      margin-top: 20px;
      margin-right: 15px;
    }
  }

  .icon-link:hover {

    .media-logo {
      transform: scale(1.15);
      -webkit-transform: scale(1.15);
      -moz-transform: scale(1.15);
      -o-transform: scale(1.15);
      -ms-transform: scale(1.15);
    }
  }
}
