<ng-container>
  <div class="dialog-content">
    <div *ngIf="!galleryItem" class="loading-container">
      <gal-loading-spinner class="spinner"></gal-loading-spinner>
    </div>
    <img *ngIf="galleryItem"
         [src]="galleryItem.largeImage.url"
         class="gallery-image"
         aria-label="large picture of artwork" />
  </div>
  <button mat-icon-button
          matTooltip="Go to previous image"
          aria-label="Go to previous image"
          class="nav-click prev-button"
          (click)="previous()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-icon-button
          cdkFocusInitial
          matTooltip="Go to next image"
          aria-label="Go to next image"
          class="nav-click next-button"
          (click)="next()">
    <mat-icon>navigate_next</mat-icon>
  </button>
  <button mat-icon-button
          matTooltip="Close image view"
          aria-label="Close image view"
          class="nav-click close-button"
          (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <div *ngIf="galleryItem" class="image-details-container">
    <div class="image-actions">
      <button mat-icon-button (click)="downloadImage()">
        <mat-icon>get_app</mat-icon>
      </button>
    </div>
    <div class="image-caption">
      <h1 class="mat-title image-caption-text"
          id="gallery-image-title">
        {{ galleryItem.title }}
      </h1>
      <p class="mat-body image-caption-text"
        id="gallery-image-year">
        {{ galleryItem.createdDate?.getFullYear() }}
      </p>
    </div>
    <div class="image-actions">
      <button [disabled]="!galleryItem" 
              mat-icon-button 
              matTooltip="Open image file" 
              (click)="downloadImage()">
        <mat-icon>open_in_browser</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
