<mat-toolbar color="primary">
  <ng-container *ngIf="navLinks.length; then navLinkList else navButton" 
                class="nav-links">
  </ng-container>
</mat-toolbar>

<ng-template #navButton>

  <button mat-icon-button (click)="onMenuClicked($event)">
    <mat-icon>view_headline</mat-icon>
  </button>

</ng-template>

<ng-template #navLinkList>

  <mat-list role="list" class="nav-list">
    <mat-list-item *ngFor="let link of navLinks" 
                    role="listitem"
                    class="nav-list-item">
      <a class="nav-link" 
         routerLink="{{ link.route }}"> 
        <h1 class="mat-headline">
          {{ link.name }}
        </h1>
      </a>
    </mat-list-item>
  </mat-list>

</ng-template>
