<span class="banner-container">
  <a class="icon-link"
     href="{{ socialMediaLinks ? socialMediaLinks.facebook : '' }}">
    <img id="media-logo-1" class="media-logo" src="assets/facebook.svg" />
    <p class="mat-body-1 media-logo-caption">Kate on Facebook</p>
  </a>
  <a class="icon-link"
     href="{{ socialMediaLinks ? socialMediaLinks.instagram : '' }}">
    <img id="media-logo-2" class="media-logo" src="assets/instagram.svg" />
    <p class="mat-body-1 media-logo-caption">Kate on Instagram</p>
  </a>
  <a class="icon-link"
     href="{{ socialMediaLinks ? socialMediaLinks.linkedin : '' }}">
    <img id="media-logo-3" class="media-logo" src="assets/linkedin.svg" />
    <p class="mat-body-1 media-logo-caption">Kate on LinkedIn®</p>
  </a>
</span>
