@import 'theme.scss';


body {
  background-color: $gal-white;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gal-black;
  min-width: $gal-min-width;
}

.loading-spinner {

  width: 100px;
  height: 100px;
  
  animation: rotator 5s linear infinite;
  -webkit-animation: rotator 5s linear infinite;
  -moz-animation: rotator 5s linear infinite;
  -o-animation: rotator 5s linear infinite;
  -ms-animation: rotator 5s linear infinite;

  transform-origin: 50px 50px 0;
  -webkit-transform-origin: 50px 50px 0;
  -moz-transform-origin: 50px 50px 0;
  -o-transform-origin: 50px 50px 0;
  -ms-transform-origin: 50px 50px 0;
}

.path {
  
  stroke-dasharray: 265;
  stroke-dashoffset: 0;
  stroke: #282828;

  animation: dash 1s ease-in-out infinite;
  -webkit-animation: dash 1s ease-in-out infinite;
  -moz-animation: dash 1s ease-in-out infinite;
  -o-animation: dash 1s ease-in-out infinite;
  -ms-animation: dash 1s ease-in-out infinite;

  transform-origin: 50px 50px 0;
  -webkit-transform-origin: 50px 50px 0;
  -moz-transform-origin: 50px 50px 0;
  -o-transform-origin: 50px 50px 0;
  -ms-transform-origin: 50px 50px 0;
}

.large-icon {
  font-size: 40px !important;
}

.darker-backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.image-detail-dialog-panel {

  mat-dialog-container {
    padding: 0;
    margin: 5px;
    overflow-x: hidden;
    background-color: $gal-white;
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 265;
  }
  50% {
    stroke-dashoffset: 65;
    transform: rotate(90deg);
  }
  100% {
    stroke-dashoffset: 265;
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 265;
  }
  50% {
    stroke-dashoffset: 65;
    transform: rotate(90deg);
  }
  100% {
    stroke-dashoffset: 265;
    transform: rotate(360deg);
  }
}

@-moz-keyframes dash {
  0% {
    stroke-dashoffset: 265;
  }
  50% {
    stroke-dashoffset: 65;
    transform: rotate(90deg);
  }
  100% {
    stroke-dashoffset: 265;
    transform: rotate(360deg);
  }
}

@-o-keyframes dash {
  0% {
    stroke-dashoffset: 265;
  }
  50% {
    stroke-dashoffset: 65;
    transform: rotate(90deg);
  }
  100% {
    stroke-dashoffset: 265;
    transform: rotate(360deg);
  }
}

@-ms-keyframes dash {
  0% {
    stroke-dashoffset: 265;
  }
  50% {
    stroke-dashoffset: 65;
    transform: rotate(90deg);
  }
  100% {
    stroke-dashoffset: 265;
    transform: rotate(360deg);
  }
}
