@import '~@angular/material/theming';


$gal-min-width: 320px;
$gal-min-height: 320px;
$gal-black: #282828;
$gal-white: #fafafa;
$gal-gray: gray;
$gal-light-gray: #f4f4f4;

$typography: mat-typography-config(
  $font-family: '"Montserrat", sans-serif',
  $body-2: mat-typography-level(14px, 24px, 500, '"Roboto", sans-serif'),
  $body-1: mat-typography-level(14px, 20px, 400, '"Roboto", sans-serif'),
  $caption: mat-typography-level(12px, 20px, 400, '"Roboto", sans-serif'),
  $button: mat-typography-level(14px, 14px, 500, '"Roboto", sans-serif'),
  $input: mat-typography-level(inherit, 1.125, 400, '"Roboto", sans-serif')
);
@include mat-core($typography);

$gal-primary: mat-palette(
  (
    50 : $gal-light-gray,
    100 : $gal-light-gray,
    200 : $gal-light-gray,
    300 : $gal-light-gray,
    400 : $gal-light-gray,
    500 : $gal-light-gray,
    600 : $gal-light-gray,
    700 : $gal-light-gray,
    800 : $gal-light-gray,
    900 : $gal-light-gray,
    A100 : $gal-light-gray,
    A200 : $gal-light-gray,
    A400 : $gal-light-gray,
    A700 : $gal-light-gray,
    contrast: (
        50 : $gal-black,
        100 : $gal-black,
        200 : $gal-black,
        300 : $gal-black,
        400 : $gal-black,
        500 : $gal-black,
        600 : $gal-black,
        700 : $gal-black,
        800 : $gal-black,
        900 : $gal-black,
        A100 : $gal-black,
        A200 : $gal-black,
        A400 : $gal-black,
        A700 : $gal-black,
    )
  )
);

$gal-accent: mat-palette($mat-blue, A200, A100, A400);
$gal-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$gal-theme: mat-light-theme($gal-primary, $gal-accent, $gal-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($gal-theme);
