<gal-site-header [navLinks]="showSmallScreenLayout ? [] : navLinks"
                 (menuClick)="sideNav.toggle()">
</gal-site-header>

<mat-sidenav-container (backdropClick)="sideNav.close()">

  <mat-sidenav #sideNav
               [fixedInViewport]="false"
               [autoFocus]="false">
    <mat-list *ngIf="showSmallScreenLayout" role="list" class="nav-list">
      <mat-list-item *ngFor="let link of navLinks"
                      role="listitem"
                      class="nav-list-item">
        <button class="nav-link"
                mat-button
                type="button"
                routerLink="{{ link.url }}"
                (click)="sideNav.close()">
          <p class="mat-title">
            {{ link.name }}
          </p>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <router-outlet></router-outlet>
  <router-outlet name="image"></router-outlet>

</mat-sidenav-container>

<gal-site-footer></gal-site-footer>
