.image-link {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  display: flex;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  mat-spinner {
    margin: 0 auto;
  }
}

