@import 'theme.scss';


.thumbnail-image {
  border: 2px solid $gal-black;
  width: calc(100% - 4px);  // Account for border width on both sides
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .spinner {
    width: 20%;
    margin: 0 auto;
  }
}
