<ng-container *ngIf="imageResourceURL; else loading">
  <a href=""
     class="image-link"
     [routerLink]="[{outlets: {image: galleryItem.id}}]"
     tabindex="0">
    <img [src]="imageResourceURL"
         class="thumbnail-image"
         aria-label="thumbnail picture of artwork"
         [style.max-width]="galleryItem.thumbnailImage.width + 'px'"
         [style.max-height]="galleryItem.thumbnailImage.height + 'px'" />
  </a>
</ng-container>
<ng-template #loading>
  <div class="loading-container"
       [style.max-width]="galleryItem.thumbnailImage.width + 'px'"
       [style.max-height]="galleryItem.thumbnailImage.height + 'px'">
    <gal-loading-spinner class="spinner"></gal-loading-spinner>
  </div>
</ng-template>
