@import 'theme.scss';


.image-link {

  display: flex;

  .thumbnail-image {
    width: 100%;
    object-fit: cover;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .spinner {
    width: 20%;
    margin: 0 auto;
  }
}
