<ng-container *ngIf="imageResourceURL; else loading">
  <a href=""
     class="image-link"
     [routerLink]="[{outlets: {image: galleryItem.id}}]"
     tabindex="0">
    <img #thumbnailImageElement
         [src]="imageResourceURL"
         class="thumbnail-image"
         aria-label="thumbnail picture of artwork"
         [style.max-width]="galleryItem.thumbnailImage.width + 'px'"
         [style.max-height]="galleryItem.thumbnailImage.height + 'px'" />
    <div class="gallery-item-info darker-backdrop"
         [style.width]="thumbnailImageElement.width + 'px'">
      <p class="mat-body item-title">
        {{ galleryItem.title }}
      </p>
      <p class="mat-body created-date">
        {{ galleryItem.createdDate?.getFullYear() }}
      </p>
    </div>
  </a>
</ng-container>
<ng-template #loading>
  <div class="loading-container"
       [style.max-width]="galleryItem.thumbnailImage.width + 'px'"
       [style.max-height]="galleryItem.thumbnailImage.height + 'px'">
    <gal-loading-spinner class="spinner"></gal-loading-spinner>
  </div>
</ng-template>
