<div class="gallery-container">
  <ng-container *ngIf="galleryItems; else loading">
    <ng-container *ngIf="galleryItems.length; else noImages">
      <gal-gallery-item *ngFor="let item of galleryItems"
                        [galleryItem]="item">
      </gal-gallery-item>
    </ng-container>
  </ng-container>
</div>
<ng-template #noImages>
  <p class="mat-display-1">
    No images found
  </p>
</ng-template>
<ng-template #loading>
  <div class="loading-container">
    <p>Loading gallery...</p>
  </div>
</ng-template>
