@import 'theme.scss';


.gallery-container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1000px;
  height: 100%;
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 10%;
    margin: 0 auto;
  }
}

.no-images-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-item-info {
  position: absolute;
  width: 100%;
  min-height: 30px;
  color: $gal-white;
  opacity: 0;
  pointer-events: none;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding: 8px 0 8px 0;

  p {
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    text-align: center; 
  }

  .created-date {
    font-size: 8pt;
    color: $gal-gray;
  }
}

gal-gallery-item:hover + .gallery-item-info {

  // Fade-in-on-hover transition
  animation: fade-in 0.5s ease-in forwards;
  -webkit-animation: fade-in 0.5s ease-in forwards;
  -moz-animation: fade-in 0.5s ease-in forwards;
  -o-animation: fade-in 0.5s ease-in forwards;
  -ms-animation: fade-in 0.5s ease-in forwards;
}
